/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.paysage {
    width: 100%;
      height: auto;
}
.portrait{
    width: auto;
      height: 100%;
}
.file-list-divider {
	background-color: #666;
	padding: 2px 2px;
}